{% extends 'base.html' %}
{% block content %}
<main>
    <h2>Order {{my_order.id}}</h2>
    <ul>
        <li>Order Id: {{ my_order.id }}</li>
        <li>Order Date: {{ my_order.date }}</li>
        <li>Vehicle Registration number: {{ my_order.vehicle.registration_number }}</li>
        <li>Vehicle Vin Code: {{ my_order.vehicle.vin_code }}</li>
        <li>Vehicle Client: {{ my_order.vehicle.client }}</li>
        <li>Vehicle: {{ my_order.vehicle.vehicle_model.brand }} {{ my_order.vehicle.vehicle_model.model }}</li>
        {% if my_order.is_done %}
        <li>Status: <span style="color:green">Completed</span></li>
        {% else %}
        <li>Status: <span style="color:black">In Progress</span></li>
        {% endif %}


    </ul>
    <a href="{%url 'orders'%}">Go Back</a>


</main>
{% endblock %}